.formacao {
    background: #111111;
    color: #ffffff;
}

.formacao-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 55px;
    gap: 100px;
    display: grid;
    grid-template-columns:  1fr 2fr;
    align-items: center;
}

.formacao-content .subtitulo {
    color: #262424;
}

.formacao-content .formacao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    /*text-align: justify;*/
    max-width: 50ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.formacao-content .formacao-texto b {
    color: #ffffff;
}

.faculdade-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.faculdade-list .faculdade {
    flex: 1;                   /*deixa os elementos do mesmo tamanho*/
    background: #000000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.faculdade-list .faculdade .faculdade-tipo {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
    
}

.faculdade-list .faculdade .faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.faculdade-list .faculdade .faculdade-curso::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    left: -24px;
    position: absolute;
}

.faculdade-list .faculdade .faculdade-instituicao {
    font-size: 1.125rem;
    color: #a3a3a3;
}

.formacao-extra .cursos {
    margin-bottom: 60px;
}

.formacao-extra h3 {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    margin-bottom: 30px;
    position: relative;
}

.formacao-extra h3::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left:-36px;
    top: -4px;
}

.cursos h3::before {
    background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
    background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
    font-size: 1.125rem;
    line-height: 1.1;
}

.formacao-extra li:first-child {
    margin-bottom: 20px;
}

.formacao-extra span {
    color: gray;
}

.cursos li {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 800px) {
    .formacao-content {
            grid-template-columns: 1fr;
            padding: 20px 55px;
            gap: 40px;
    }

    .formacao-content .formacao-texto {
        max-width: 100% ;
    }

    .formacao .subtitulo {
        color: #ffffff;
    }
    .formacao-texto {
        font-size: 1.25rem;
    }
}